<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springsource.ide.eclipse.gradle.launch">
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PROJECT" value="data-grid"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.TASKTEXT" value="tasks&#10;dependencies&#10;properties&#10;"/>
</launchConfiguration>
